{% extends "cms/home.html" %}
{% load cms_tags sekizai_tags i18n %}

{% block content %}
{% if error_message %}
<p class="error">{{ error_message }}</p>
{% else %}
{% if comp_id %}
<a href="{% url 'redirect_user' comp_id %}">{% trans 'Finals' %}</a>
{% endif %}
<table>
    {% for comp_role,role_dict in results_dict.items %}
        <tr>
            <th></th>
            <th>{{ comp_role }}</th>
            {% for judge in role_dict.judges %}
                <th>{{ judge }}</th>
            {% endfor %}
        </tr>
        {% for reg,results_row in role_dict.results.items %}
            <tr>
                <td>{{ reg.comp_num }} </td>
                {% if reg.finalist and results_row %}
                <th>{{ reg.competitor.fullName }}</th>
                {% else %}
                <td>{{ reg.competitor.fullName }}</td>
                {% endif %}
                {% for res in results_row %}
                    <td>{{ res }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endfor %}

</table>
{% endif %}
{% endblock %}