{% extends "cms/home.html" %}
{% load cms_tags sekizai_tags i18n %}

{% block content %}
<table>
    {% for comp_role,role_dict in results_dict.items %}
        <tr><td>{{ comp_role }}</td></tr>
        <tr>
            <td></td>
            {% for judge in role_dict.judges %}
                <td>{{ judge }}</td>
            {% endfor %}
        </tr>
        {% for reg,results_row in role_dict.results.items %}
            <tr>
                <td>{{ reg.comp_num }} {{ reg.competitor.fullName }}</td>
                {% for res in results_row %}
                    <td>{{ res }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endfor %}

</table>
{% endblock %}