{% extends "cms/home.html" %}
{% load cms_tags sekizai_tags i18n %}

{% block content %}
<ul>
    {% for comp, is_judge in is_judge_dict.items %}
        <li>
            {% if is_judge %}
                <a href="{% url 'submit_prelims' comp.id %}">{{ comp.title }}</a>
            {% else %}
                <a href="{% url 'register_competitor' comp.id %}">{{ comp.title }}</a>
            {% endif %}
        </li>
    {% empty %}
        <li>{% trans 'No competitions available' %}</li>
    {% endfor %}
</ul>
{% endblock %}